In [1]:
import mlxtend
import numpy as np
import pandas as pd

In [2]:
data=np.array([
    ['milk','shirt','juice'],
    ['cabbage','shirt','beer'],
    ['milk','cabbage','shirt','beer'],
    ['cabbage','beer']
])

### Apriori Algorithm

In [3]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit_transform(data)
df=pd.DataFrame(te_ary, columns=te.columns_)
df

    beer  cabbage  juice   milk  shirt
0  False    False   True   True   True
1   True     True  False  False   True
2   True     True  False   True   True
3   True     True  False  False  False

In [4]:
te.columns_

['beer', 'cabbage', 'juice', 'milk', 'shirt']

In [5]:
%%time

from mlxtend.frequent_patterns import apriori

apriori(df,min_support=0.5, use_colnames=True)

Wall time: 23.9 ms

   support                itemsets
0     0.75                  (beer)
1     0.75               (cabbage)
2     0.50                  (milk)
3     0.75                 (shirt)
4     0.75         (cabbage, beer)
5     0.50           (shirt, beer)
6     0.50        (shirt, cabbage)
7     0.50           (milk, shirt)
8     0.50  (shirt, cabbage, beer)

alphabet order

### FP-Growth

In [6]:
%%time

from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.5, use_colnames=True)

Wall time: 2.99 ms

   support                itemsets
0     0.75                 (shirt)
1     0.50                  (milk)
2     0.75               (cabbage)
3     0.75                  (beer)
4     0.50           (milk, shirt)
5     0.50        (shirt, cabbage)
6     0.75         (cabbage, beer)
7     0.50           (shirt, beer)
8     0.50  (shirt, cabbage, beer)

FP-Growth is faster than Apriori.

In [11]:
from mlxtend.frequent_patterns import association_rules

association_rules(fpgrowth(df,min_support=0.5, use_colnames=True), metric='confidence',min_threshold=0.5, support_only=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(milk),(shirt),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
1,(shirt),(milk),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
2,(shirt),(cabbage),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
3,(cabbage),(shirt),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
4,(cabbage),(beer),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
5,(beer),(cabbage),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
6,(shirt),(beer),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
7,(beer),(shirt),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
8,"(shirt, cabbage)",(beer),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
9,"(shirt, beer)",(cabbage),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
10,"(beer, cabbage)",(shirt),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
11,(shirt),"(beer, cabbage)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
12,(cabbage),"(shirt, beer)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
13,(beer),"(shirt, cabbage)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50